{% extends 'base.html.twig' %}

{% form_theme formTacheSport 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if (editMode) %}
            Modification de l'activité sportive
        {% else %}
            Creation d'une activité sportive
        {% endif %}
    </h1>

    {{ form_start(formTacheSport) }}

    {{ form_row(formTacheSport.NomSport, { 'attr': {'placeholder': 'Nom du sport'}}) }}

    {{ form_row(formTacheSport.Duree) }}

    {{ form_row(formTacheSport.Nombre, { 'attr': {'placeholder': 'Nombre'}}) }}

    <button type="submit" class="btn btn-success">
        {% if (editMode) %}
            Enregistrer les modifications
        {% else %}
            Ajouter le compte rendu
        {% endif %}
    </button>

    {{ form_end(formTacheSport) }}

{% endblock %}