{% extends 'base.html.twig' %}

{% block title %} Liste des activités sportive {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        table {
            text-align: center;
        }

        th {
            font-size: 20px;
            background-color: #AAAAAA;
        }
        .table-bordered {
            border: 1px solid #ddd !important;
        }

        table caption {
            padding: .5em 0;
        }

        @media screen and (max-width: 767px) {
            table caption {
                display: none;
            }
        }
        .th {
            background-color: sandybrown;
        }
    </style>
{% endblock %}


{% block body %}
    <br/>
    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="4">Activités sportives</th>
        <tr>
            <th>Sport</th>
            <th>Durée / Nombre</th>
            <th>Date séance</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if tachesSport is not empty %}
            {% for tacheSport in tachesSport %}
                <tr>
                    <td>{{ tacheSport.nomSport }}</td>
                    {% if tacheSport.duree is null %}
                        <td>{{ tacheSport.nombre }} </td>
                    {% else %}
                        <td>{{ tacheSport.duree | date('i:s') }} min</td>
                    {% endif %}
                    <td>{{ tacheSport.dateSeance | date('d/m/Y') }}</td>
                    <td style="width: auto;">
                        <a href="{{ path('tacheSport_edit', {'id': tacheSport.id}) }}"><img src="{{ asset('images/pencil.png') }}" title="Modifier l'activité sportive" style="width:25px;" /></a>
                        <a href="{{ path('tacheSport_delete', {'id': tacheSport.id}) }}"><img src="{{ asset('images/poubelle.png') }}" title="Supprimer l'activité sportive" style="width:25px;" /></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Aucune activité sportive trouvée, souhaitez-vous en <a href="{{ path('tacheSport_create') }}">ajouter ?</a></td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="text-center">Ce récapitulatif vous est proposé par la CucusIncorporation</td>
        </tr>
        </tfoot>
    </table>
    <div class="navigation" style="padding-left: 400px;"> {# padding-left pour centrer la pagination #}
        {{ knp_pagination_render(tachesSport) }}
    </div>
{% endblock %}
