{% extends 'base.html.twig' %}

{% block title %} Liste des fiches de bug {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        table {
            text-align: center;
        }

        th {
            font-size: 20px;
            background-color: #AAAAAA;
        }
        .table-bordered {
            border: 1px solid #ddd !important;
        }

        table caption {
            padding: .5em 0;
        }

        @media screen and (max-width: 767px) {
            table caption {
                display: none;
            }
        }
        .th {
            background-color: sandybrown;
        }
    </style>
{% endblock %}


{% block body %}

    <br/>
    <th>0 (Jaune) = En cours, 1 (Vert) = Fait, 2 (Rouge) = Fermé</th>
    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="4">Fiches de bug</th>
        <tr>
            <th>Projet</th>
            <th>Description</th>
            <th>Notes supplémentaires</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ficheBug in pagination %}

            {% if ficheBug.etat == 0 %}

                <tr style="background-color: #ffcc00">
            {% elseif ficheBug.etat == 1 %}
                <tr style="background-color: #1e7e34">
            {% elseif ficheBug.etat == 2 %}
                <tr style="background-color: #bd2130">
            {% endif %}

                <td>{{ ficheBug.projectName }}</td>
                <td>{{ ficheBug.description }}</td>
                <td style="width: 300px;">{{ ficheBug.note }}</td>
                <td style="width: 150px;">
                    <a href="{{ path('ficheBug_edit', {'id': ficheBug.id}) }}"><img src="{{ asset('images/pencil.png') }}" title="Modifier la fiche de bug" style="width:25px;" /></a>
                    <a href="{{ path('ficheBug_delete', {'id': ficheBug.id}) }}"><img src="{{ asset('images/poubelle.png') }}" title="Supprimer la fiche de bug" style="width:25px;" /></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">Ce récapitulatif vous est proposé par la CucusIncorporation</td>
        </tr>
        </tfoot>
    </table>
    <div class="navigation" style="padding-left: 400px;"> {# padding-left pour centrer la pagination #}
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
