{% extends 'base.html.twig' %}

{% block title %} Liste des tâches {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        table {
            text-align: center;
        }

        th {
            font-size: 20px;
            background-color: #AAAAAA;
        }
        .table-bordered {
            border: 1px solid #ddd !important;
        }

        table caption {
            padding: .5em 0;
        }

        @media screen and (max-width: 767px) {
            table caption {
                display: none;
            }
        }
        .th {
            background-color: sandybrown;
        }

    </style>
{% endblock %}


{% block body %}
    <br/>
    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="3">Rendez-vous récemment ajouté</th>
        <tr>
            <th><img src="{{ asset('images/menu.png') }}" title="Type du rendez-vous" style="width:35px;"/></th> {#Type#}
            <th><img src="{{ asset('images/calendar.ico') }}" title="Date du rendez-vous" style="width:35px;"/></th> {#Date#}
            <th><img src="{{ asset('images/maplocation.ico') }}" title="Lieu du rendez-vous" style="width:35px;"/></th> {#Lieu#}
        </tr>
        </thead>
        <tbody>
        {% if rdvs is not empty %}
            {% for rdv in rdvs %}
                <tr>
                    <td>{{ rdv.type }}</td>
                    <td>{{ rdv.date | date('d/m/Y') }} à {{ rdv.heure | date('H:i')}}</td>
                    <td>{{ rdv.lieu }}</td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center"><a href= "{{ path('rdvAVenir') }}" class="btn btn-primary">Voir la liste complète des rendez-vous</a></td>
                </tr>
            </tfoot>
        {% else %}
            <td colspan="3" class="text-center">Aucun rendez-vous trouvé</td>
        {% endif %}
        </tbody>

    </table>

    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="3">Bug récemment soumis <img src="{{ asset('images/icon.png') }}" title="Bug en cours" style="width:20px;" /></th>
        <tr>
            {#<th><img src="{{ asset('images/project.png') }}" title="Nom du projet" style="width:35px;"/></th> #}{#Projet#}
            {#<th><img src="{{ asset('images/description.png') }}" title="Description" style="width:35px;"/></th> #}{#Description#}
            <th style="width:100px;">N° bug</th>
            <th>Projet</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% if fichesBug is not empty %}
            {% for ficheBug in fichesBug %}
                <tr>
                    <td>{{ ficheBug.numFiche }}</td>
                    <td>{{ ficheBug.projectName }}</td>
                    <td>{{ ficheBug.description }} </td>
                </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center"><a href= "{{ path('ficheBug') }}" class="btn btn-primary">Voir la liste complète des fiches de bug</a></td>
                </tr>
            </tfoot>
        {% else %}
            <td colspan="3" class="text-center">Aucune fiche de bug trouvée</td>
        {% endif %}
        </tbody>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="3">Récentes activités sportives</th>
        <tr>
            <th>Sport</th>
            <th>Durée / Nombre</th>
            <th>Date séance</th>
        </tr>
        </thead>
        <tbody>
        {% if activitesSportive is not empty %}
            {% for activiteSportive in activitesSportive %}
                <tr>
                    {# on affiche soit le nombre soit la durée en testant si l'un des 2 champs est null #}
                    <td>{{ activiteSportive.nomSport }}</td>
                    {% if activiteSportive.duree is null %}
                        <td>{{ activiteSportive.nombre }} </td>
                    {% else %}
                        <td>{{ activiteSportive.duree | date('i:s') }} min</td>
                    {% endif %}
                    <td>{{ activiteSportive.dateSeance | date('d/m/Y') }}</td>
                </tr>

            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center"><a href= "{{ path('activiteSportive') }}" class="btn btn-primary">Voir la liste complète des activités sportives</a></td>
                </tr>
            </tfoot>
        {% else %}
            <td colspan="4" class="text-center">Aucune activité sportive trouvée</td>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
