{% extends 'base.html.twig' %}

{% block title %} Liste des tâches {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        table {
            text-align: center;
        }

        th {
            font-size: 20px;
            background-color: #AAAAAA;
        }
        .table-bordered {
            border: 1px solid #ddd !important;
        }

        table caption {
            padding: .5em 0;
        }

        @media screen and (max-width: 767px) {
            table caption {
                display: none;
            }
        }
        .th {
            background-color: sandybrown;
        }

    </style>
{% endblock %}


{% block body %}
    <br/>
    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="3">Rendez-vous récemment ajouté</th>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Lieu</th>
        </tr>
        </thead>
        <tbody>
        {% for tacheRdv in tachesRdv %}
            <tr>
                <td>{{ tacheRdv.type }}</td>
                <td>{{ tacheRdv.date | date('d/m/Y') }} à {{ tacheRdv.heure | date('H:i')}}</td>
                <td>{{ tacheRdv.lieu }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-center"><a href= "{{ path('tacheRdv') }}" class="btn btn-primary">Voir la liste complète des rendez-vous</a></td>
        </tr>
        </tfoot>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="2">Bug récemment soumis</th>
        <tr>
            <th>Projet</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for tacheDev in tachesDev %}
            <tr>
                <td>{{ tacheDev.projectName }}</td>
                <td>{{ tacheDev.description }} </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center"><a href= "{{ path('tacheDev') }}" class="btn btn-primary">Voir la liste complète des fiches de bug</a></td>
        </tr>
        </tfoot>
    </table>

    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="3">Récentes activitées sportives</th>
        <tr>
            <th>Sport</th>
            <th>Durée / Nombre</th>
            <th>Date séance</th>
        </tr>
        </thead>
        <tbody>
        {% for tacheSport in tachesSport %}
            <tr>
                {# on affiche soit le nombre soit la durée en testant si l'un des 2 champs est null #}
                <td>{{ tacheSport.nomSport }}</td>
                {% if tacheSport.duree is null %}
                    <td>{{ tacheSport.nombre }} </td>
                {% else %}
                    <td>{{ tacheSport.duree | date('i:s') }} min</td>
                {% endif %}
                <td>{{ tacheSport.dateSeance | date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center"><a href= "{{ path('tacheSport') }}" class="btn btn-primary">Voir la liste complète des activités sportives</a></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
