<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        {#<link rel="stylesheet" href="{{ asset('css/bootstrap_flatly.min.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/bootstrap_cerulean.min.css') }}">
        {#<link rel="stylesheet" href="{{ asset('css/cssMaison.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" type="text/css">
        {% block stylesheets %}
        <style>
            body {
                font-size: 15px;
            }
        </style>
        {% endblock %}
    </head>
    <body>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('images/cat_accueil.ico') }}" style="width: 30px;" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                    aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Ajouter une tâche</a>
                        <div class="dropdown-menu dropdown-content">
                            <a class="nav-link " href="{{ path('rdv_create') }}">Créer un rendez-vous</a>
                            <a class="nav-link" href="{{ path('ficheBug_create') }}">Créer une fiche de développement</a>
                            <a class="nav-link" href="{{ path('tacheSport_create') }}">Créer un récapitulatif sportif</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('rdvAVenir') }}">Consulter les rendez-vous<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ficheBug') }}">Consulter les bugs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tacheSport') }}">Consulter les activités sportives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_manage') }}">Paramètres du compte</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <div class="nav-link">Déconnexion</div>
                <a class="navbar-brand" href="{{ path('security_logout') }}"><img src="{{ asset('images/logout.ico') }}" style="width: 30px;" alt=""/></a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
    <script>
        $(function(){
            $('.nav a').click(function(){
                $(this).parent().addClass('active').siblings().removeClass('active')
            })
        })
    </script>
    {% endblock %}
</body>
</html>
