<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Allez go Symfony là !{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {#<link rel="stylesheet" href="{{ asset('css/cssMaison.css') }}">#}
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" type="text/css">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('images/cat_accueil.ico') }}" style="width: 30px;" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                    aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Ajouter une tâche</a>
                        <div class="dropdown-menu dropdown-pink dropdown-content" aria-labelledby="navbarDropdownMenuLink-7">
                            <a class="nav-link" href="{{ path('rdv_create') }}">Créer un rendez-vous</a>
                            <a class="nav-link" href="{{ path('ficheBug_create') }}">Créer une fiche de développement</a>
                            <a class="nav-link" href="{{ path('tacheSport_create') }}">Créer un récapitulatif sportif</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('rdvAVenir') }}">Consulter les rendez-vous<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ficheBug') }}">Consulter les bugs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tacheSport') }}">Consulter les activités sportives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_manage') }}">Paramètres du compte</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <div class="nav-link">Déconnexion</div>
                <a class="navbar-brand" href="{{ path('security_logout') }}"><img src="{{ asset('images/logout.ico') }}" style="width: 30px;" alt=""/></a>
                </form>
            </div>
        </div>
    </nav>


    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
    <script>
        $(function(){
            $('.nav a').click(function(){
                $(this).parent().addClass('active').siblings().removeClass('active')
            })
        })
    </script>
    {% endblock %}
</body>









    {#<body>#}
    {#{% if app.user %}#}
        {#<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> #}{# Prendre l'image .ico et non l'image .png => le fond blanc de l'image n'est pas pris dans l'image .ico #}
            {#<a class="navbar-brand" href="/"><img src="{{ asset('images/iconfinder_cat_upsidedown_185521.ico') }}" style="width: 60px;" alt=""/></a> #}{# route : public/images/chat_accueil.ico #}
            {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">#}
                {#<span class="navbar-toggler-icon"></span>#}
            {#</button>#}

            {#<div class="collapse navbar-collapse" id="navbarColor01">#}
                {#<ul class="navbar-nav mr-auto">#}
                    {#<div class="dropdown">#}
                        {#<button class="dropbtn">Ajouter une tâche</button>#}
                        {#<div class="dropdown-content">#}
                            {#<a class="nav-link" href="{{ path('rdv_create') }}">Créer un rendez-vous</a>#}
                            {#<a class="nav-link" href="{{ path('ficheBug_create') }}">Créer une fiche de développement</a>#}
                            {#<a class="nav-link" href="{{ path('tacheSport_create') }}">Créer un récapitulatif sportif</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="dropdown">#}
                        {#<button class="dropbtn">#}
                            {#<a href="{{ path('rdvAVenir') }}">Consulter les rendez-vous</a>#}
                        {#</button>#}
                    {#</div>#}
                    {#<div class="dropdown">#}
                        {#<button class="dropbtn">#}
                            {#<a href="{{ path('ficheBug') }}">Consulter les bugs</a>#}
                        {#</button>#}
                    {#</div>#}
                    {#<div class="dropdown">#}
                        {#<button class="dropbtn">#}
                            {#<a href="{{ path('tacheSport') }}">Consulter les activités sportives</a>#}
                        {#</button>#}
                    {#</div>#}
                {#</ul>#}
                {#<div class="dropdown">#}
                    {#<button class="dropbtn">#}
                        {#<a href="{{ path('user_manage') }}">Paramètres du compte</a>#}
                    {#</button>#}
                {#</div>#}
                {#<form class="form-inline my-2 my-lg-0">#}
                    {#<a class="nav-link">Bonjour {{ app.user.username }}</a>#}
                    {#<div class="nav-link">Déconnexion</div>#}
                    {#<a class="navbar-brand" href="{{ path('security_logout') }}"><img src="{{ asset('images/logout.ico') }}" style="width: 50px;" alt=""/></a>#}
                    {#<div class="dropdown">#}
                        {#<img src="{{ asset('images/double_engrenage.ico') }}" style="width:80px;" alt="" class="dropbtn"></img>#}
                        {#<div class="dropdown-content listRight">#}
                            {#<a class="nav-link" href="{{ path('user_manage') }}">Paramètres</a>#}
                            {#<a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>#}
                        {#</div>#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</nav>#}
    {#{% endif %}#}
        {#<div class="container">#}
        {#{% block body %}{% endblock %}#}
        {#</div>#}
    {#</body>#}
</html>
