{% extends 'base.html.twig' %}

{% block title %} Liste des tâches {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        table {
            text-align: center;
        }

        th {
            font-size: 20px;
            background-color: #AAAAAA;
        }
        .table-bordered {
            border: 1px solid #ddd !important;
        }

        table caption {
            padding: .5em 0;
        }

        @media screen and (max-width: 767px) {
            table caption {
                display: none;
            }
        }
        .th {
            background-color: sandybrown;
        }
    </style>
{% endblock %}


{% block body %}
    <br/>
    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="4">Rendez-vous passés</th>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Lieu</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if tachesRdv is not empty %}
            {% for tacheRdv in tachesRdv %}
                 <tr>
                    <td>{{ tacheRdv.type }}</td>
                    <td>{{ tacheRdv.date | date('d/m/Y') }} à {{ tacheRdv.heure | date('H:i')}}</td>
                    <td>{{ tacheRdv.lieu }}</td>
                    <td style="width: 250px;"><a href="{{ path('tacheRdv_edit', {'id': tacheRdv.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('tacheRdv_delete', {'id': tacheRdv.id}) }}" class="btn btn-danger">Supprimer</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucun rendez-vous passé trouvé</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            {#<td colspan="5" class="text-center"><a href="{{ ('tacheRdvPasse') }}">Consultez les rendez-vous passés</a></td>#}
            <td colspan="5" class="text-center">Ce récapitulatif vous est proposé par la CucusIncorporation</td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
