{% extends 'base.html.twig' %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if (editMode) %}
            Modification du compte
        {% else %}
            Creation du compte
        {% endif %}
    </h1>

    {{ form_start(formUser) }}

    {{ form_row(formUser.username) }}

    {{ form_row(formUser.password) }}

    {{ form_row(formUser.email) }}

    {{ form_row(formUser.isActive) }}


    <button type="submit" class="btn btn-success">
        {% if (editMode) %}
            Enregistrer ses informations
        {% else %}
            Créer son compte
        {% endif %}
    </button>

    {{ form_end(formUser) }}

{% endblock %}