{% extends 'base.html.twig' %}

{% block title %} Liste des tâches de développement {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        table {
            text-align: center;
        }

        th {
            font-size: 20px;
            background-color: #AAAAAA;
        }
        .table-bordered {
            border: 1px solid #ddd !important;
        }

        table caption {
            padding: .5em 0;
        }

        @media screen and (max-width: 767px) {
            table caption {
                display: none;
            }
        }
        .th {
            background-color: sandybrown;
        }
    </style>
{% endblock %}


{% block body %}
    <br/>
    <th>0 (Jaune) = En cours, 1 (Vert) = Fait, 2 (Rouge) = Fermé</th>
    <table class="table table-bordered table-hover">
        <thead>
        <th class="th" colspan="4">Fiches de bug</th>
        <tr>
            <th>Projet</th>
            <th>Description</th>
            <th>Notes supplémentaires</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for tacheDev in tachesDev %}

            {% if tacheDev.etat == 0 %}
                <tr style="background-color: #ffcc00">
            {% elseif tacheDev.etat == 1 %}
                <tr style="background-color: #1e7e34">
            {% elseif tacheDev.etat == 2 %}
                <tr style="background-color: #bd2130">
            {% endif %}

                <td>{{ tacheDev.projectName }}</td>
                <td>{{ tacheDev.description }}</td>
                <td style="width: 300px;">{{ tacheDev.note }}</td>
                <td style="width: 250px;"><a href="{{ path('tacheDev_edit', {'id': tacheDev.id}) }}" class="btn btn-primary">Modifier</a>
                <a href="{{ path('tacheDev_delete', {'id': tacheDev.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">Ce récapitulatif vous est proposé par la CucusIncorporation</td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
